<!-- This source code is provided under the BSD license and is provided AS IS with no warranty or guarantee of fit for purpose.  See the project's LICENSE.MD for details.
Copyright Thomson Reuters 2017. All rights reserved. -->

<h1>Home View</h1>

<div class="embedded-page">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <article class="panel panel-alt">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body panel-list">

                        <form class="login-form ng-pristine ng-valid">

                            <div class="form-group">
                                <div class="col-no-pad">
                                    <input name="txtLogin" type="text" id="txtLogin" class="form-control" ng-model="ctlr.userName" placeholder="Username">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-no-pad">
                                    <input name="txtPassword" type="password" id="txtPassword" class="form-control" ng-model="ctlr.password" placeholder="Password">

                                </div>
                            </div>

                            <button ng-click="ctlr.login()" id="btnSignIn" class="btn btn-circ btn-primary">Sign In</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>