<!-- This source code is provided under the BSD license and is provided AS IS with no warranty or guarantee of fit for purpose.  See the project's LICENSE.MD for details.
Copyright Thomson Reuters 2017. All rights reserved. -->

<h2>Detail View</h2>
<div class="form">
	<form>
		<div class="form-group">
			<div class="col-md-8">
				<!-- Using the custom fruititem-image Component, render the Fruit Item Image into an anchor that targets the detail page 
                by passing the appropriate model properties into the directive's required bindings. -->
				<fruititem-image [targetUrl]="currentFruitItem.url" [imageUrl]="currentFruitItem.image_url"></fruititem-image>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-8">
				<label class="control-label">ID</label>
				<!--This is an example of one way binding: {{binding expression}}-->
				<input required type="text" class="form-control" value="{{currentFruitItem.id}}" readonly name="id">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-8">
				<label class="control-label">Common Name</label>
				<input required type="text" class="form-control" value="{{currentFruitItem.common_name}}" name="common_name">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-8">
				<label class="control-label">Species</label>
                	<!-- This is an example of two-way binding: [(ngModel)]="binding expression" -->
				<input required type="text" class="form-control" [(ngModel)]="currentFruitItem.species" name="species">
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-8">
				<label class="control-label">Region</label>			
				<input required type="text" class="form-control" [(ngModel)]="currentFruitItem.region" name="region">
			</div>
		</div>

	</form>
</div>